


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-10 col-md-push-2">
          <h2 class="featurette-heading">A Services Company <span class="text-muted">with a social mission</span></h2>
          <p class="lead">What do you get when you combine a management consulting company and a small business focused on introducing engineering to a diverse set of kids? You get a professional services company with a social mission.</p>
		  <p class="lead">After running an small management consulting business for ten years, our founder started an educational software/media business as well. The mission of that business was to  bring engineering and technology literacy to all kids and inspire a more diverse next generation of creators. </p>
		  <p class="lead">Engineering literacy matters because engineering and computing are high-paying careers that offer great opportunities for high-potential young people - and can offer economically-disadvantaged young people a great opportunity to secure a financially stable future.</p>
		  <p class="lead">Sadly, the education market is best suited for large companies that spend years investing in marketing and selling new products to large school districts. Many companies offer products for free, hoping to develop a viable business model later. Lots of EdTech companies spend years losing money and may never be profitable. Many other companies in the engineering and technology education space are non-profits, earning their revenues through charitable gifts. The non-profit regulatory framework is onerous, involving plenty of lawyers, accountants, and bureaucratic paperwork, plus non-stop fundraising. Ick.</p>
	<p class="lead">Isn't there a better way?</p>
	<p class="lead">Our founder had two disparate companies, with very different business models... until she thought to combine them, using consulting revenues to make a difference in the world. That's how you get a services company with a social mission: to bring engineering and technology literacy to kids and inspire a more diverse next generation of creators.</p>
	<p class="lead">What's in it for you? Great, results-oriented consulting work that you can feel good about, because your business is helping to make a difference in the world.</p>
        </div>
        <div class="col-md-2 col-md-pull-10">
		   <%= link_to image_tag("mpl.jpg" ,  :class=>'featurette-image img-responsive center-block', :class=>'img-circle'), "https://www.linkedin.com/in/melissaliu", :target=>"blank" %>
        </div>
      </div>

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->



				















