


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-10 col-md-push-2">
          <h2 class="featurette-heading">A Services Company <span class="text-muted">with a social mission</span></h2>
          <p class="lead">2025 Consulting is a DBA name for 2025 Labs, LLC. You can best reach us <a href="mailto:info@2025labs.com", target="_blank">via email</a>.</p>
        </div>
        <div class="col-md-2 col-md-pull-10">
		   <%= link_to image_tag("mpl.jpg" ,  :class=>'featurette-image img-responsive center-block', :class=>'img-circle'), "https://www.linkedin.com/in/melissaliu", :target=>"blank" %>
        </div>
      </div>

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->



				















