
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-xs-7">
          <h2 class="featurette-heading">We're a Services Company with a Social Mission <span class="text-muted">to bring engineering literacy to all kids</span>   </h2>
          <p class="lead">We aim to inspire a more diverse next generation of creators. We have been creating content, developing projects, and leading activities with kids for a few years. We do this as a service to the community. Some people might think of it as a "cost center." We prefer to think of it as an investment in young people.</p>
        </div>
        <div class="col-xs-5">
		  <%= image_tag("enged1.png" , :class=>'featurette-image img-responsive center-block') %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-xs-7 col-xs-push-5">
          <h2 class="featurette-heading">We create engineering content... <span class="text-muted">  and we do house calls</span></h2>
          <p class="lead">If you need engineering or technology expertise, engineering projects to support school or after-school concepts, or just diverse engineering leaders and role models to come talk to kids about tech careers, we are happy to help.</p>
        </div>
        <div class="col-xs-5 col-xs-pull-7">
			<%= image_tag("enged2.png" , :class=>'featurette-image img-responsive center-block') %>
          
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-xs-7">
          <h2 class="featurette-heading">Let us know what we can do to help YOU<span class="text-muted"> introduce engineering and technology to kids</span></h2>
          <p class="lead">Pick up the phone. Send an email. Tweet us. </p>
        </div>
        <div class="col-xs-5">
          <%= image_tag("2025LabsKids_600.png", :class=>'imagerightlarge') %>
		  
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->



    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

  </body>
</html>
				















