

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
		
		 <!-- context reference -->
		<span class="consulting_context_title" > Management Consulting</span><br>

      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-xs-8">
          <h2 class="featurette-heading">IT <span class="text-muted">Strategy, Operations, Implemention, Process Improvement</span></h2>
          <p class="lead">Team leadership for executive-level teams and line teams; executive-sponsored programs and management-sponsored programs. Expert leadership through tough initiatives. Experience with projects and programs across the full life cycle: early-stage innovation, startup maturation, strategy and planning, major program implementation, critical project recovery, operations improvement, EOL planning, and M&amp;A IT. </p>
        </div>
        <div class="col-xs-4">
		   <%= image_tag("mgmtcons2.png" , :class=>'featurette-image img-responsive center-block') %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-xs-8 col-xs-push-4">
          <h2 class="featurette-heading">Cross-Industry Experience <span class="text-muted">Startups to Large Global Corporations </span></h2>
          <p class="lead">Management Consulting experieince with all levels of organization, from CxO/Board to line staff. Consulting experience across industries, including: pharma/biotech; software and internet; network equipment; supply chain; semiconductor; consumer/retail. IT experience includes working within FDA regulations for Pharma and Biotech companies (labelling, validation, etc.)</p>
        </div>
        <div class="col-xs-4 col-xs-pull-8">
		  <%= image_tag("mgmtcons1.png" , :class=>'featurette-image img-responsive center-block') %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-xs-7">
          <h2 class="featurette-heading">Program Leadership <span class="text-muted">Product Development, IT, General Program Management</span></h2>
          <p class="lead">Seasoned leadership for both technical and business teams at all organization levels, across the product development lifecycle: early-stage innovation, strategy, planning, solution identification, design, development, management, process improvement, project recovery, operational scale-up. </p>
        </div>
        <div class="col-xs-5">
		  <%= image_tag("mgmtcons3.png" , :class=>'featurette-image img-responsive center-block') %>
        </div>
      </div>

      <!-- <hr class="featurette-divider"> -->

      <!-- /END THE FEATURETTES -->



    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<!--     <script src="../../dist/js/bootstrap.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--     <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
				
<br>
<br>













