
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

		 <!-- context reference -->
		<span class="consulting_context_title" >Program Management</span><br>

      <!-- START THE FEATURETTES -->
      <div class="row featurette">
        <div class="col-xs-7">
          <h2 class="featurette-heading">Executive-facing critical programs <span class="text-muted"> - we focus on hard projects, not easy ones</span></h2>
          <p class="lead">We get called to do the hard things: programs in trouble, teams dealing with &quot;personalities&quot; who are creating obstacles, challenging politicized environments...or, simply programs that are important, executive-led, and highly-visible. Success requires tenacity, leadership, team-building, strong program management skills and an in-depth understanding of how to maintain executive support, sponsorship, and focus. </p>
        </div>
        <div class="col-xs-5">
			 <%= image_tag("pm2.png" ,  :class=>'featurette-image img-responsive center-block') %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-xs-7 col-xs-push-5">
          <h2 class="featurette-heading">Technical and business driven programs <span class="text-muted"> - and especially projects that require both </span></h2>
          <p class="lead">We often work on the seams between business and technical work, and we can speak the languages of each. We are comfortable in the world of metrics, dashboards, scorecards, analytical models, portfolios, and strategic plans. But, we&#39;re also comfortable with systems architecture, data architecture, database schemas, software and other engineering.  </p>
        </div>
        <div class="col-xs-5 col-xs-pull-7">
        	 <%= image_tag("pm1.png" ,  :class=>'featurette-image img-responsive center-block') %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-xs-7">
          <h2 class="featurette-heading">Programs in specialized environments <span class="text-muted">like FDA-regulated or highly technical</span></h2>
          <p class="lead">FDA-regulated industries have unique requirements related to systems and business processes, such as in labelling, quality management, training, and approvals. We have led a variety of work in biotech/pharma, and to lesser degree, medical devices.</p>
		  <p class="lead">We also work comfortably in tough, highly technical environments that may &quot;eat&quot; consultants for breakfast. We&#39;ve seen it. But our founder cut her teeth in those types of environments; she likes the fast, intellectual, on-your-toes feel to them.</p>
        </div>
        <div class="col-xs-5">
          <%= image_tag("pm3.png" ,  :class=>'featurette-image img-responsive center-block') %>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->



    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<!--     <script src="../../dist/js/bootstrap.min.js"></script> -->

    <!-- mpl commented below: IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--     <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
				















