   <div class="page-header">
		<h2>Projects</h2>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Program Management</h3>
            </div>
            <div class="panel-body">
  			  <table class="table table-striped">
  			              <tbody>
  			                <tr>
  			                  <td>&bull; PM Supply Chain IT leadership forum hosted by global network equipment company for CIOs and IT leaders at Supply Chain partner companies. Led establishment of the forum, drove first few forums, defined process and cadence for future events.</td>
  			                </tr>
			                <tr>
			                  <td>&bull; Led LIMS implementation for a pre-commercial Biotech company ramping up for commercial production for a vaccine pending FDA approval.</td>
			                </tr>
  			                <tr>
  			                  <td>&bull; Led system stability &quot;Tiger Team&quot; through a set of initiatives to restore system stability at a large network equipment company. Achieving sustained improvements required addressing change management processes, database performance management, recurring bugs, and IT support processes. </td>
  			                </tr>
  			                <tr>
  			                  <td>&bull; Instituted PM culture and practices at organization (within a $2+ billion software company) which had little experience with formal management, tracking, and reporting requirements for large-cost-outlay programs funded at the executive level</td>
  			                </tr>
  			                <tr>
  			                  <td>&bull; Program management for ERP computer system validation at premier global biotech company.</td>
  			                </tr>
  			              </tbody>
  			            </table>
              
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">M&amp;A and Divesture IT</h3>
            </div>
            <div class="panel-body">
			  <table class="table table-striped">
			              <tbody>              
			                <tr>
			                  <td>&bull; Board-driven pre-merger technology assessment for a possible merger transaction between two $1 billion+ supply chain companies, including: system architecture; scalability; and fit between the target's IT capabilities and the potential acquirer's stated IT strategy. (As supply chain companies run on thin margins, potential efficiencies through strategic acquisition of technology can be incredibly valuable.)</td>
			                </tr>
			                <tr>
			                  <td>&bull; Post-Divestiture IT architecture definition and system integration for a small spin-off of a global pharmaceutical company. Helped spin-off define IT architecture, including application integration between internal business systems and those of 3rd party logistics providers.</td>
			                </tr>
			              </tbody>
			            </table>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Operational Assessment and Process Improvement </h3>
            </div>
            <div class="panel-body">
			  <table class="table table-striped">
			              <tbody>
			                <tr>
			                  <td>&bull; Analyzed causes of critical system stability issues at $28 billion networking company, defined prioritized action plan, secured strong sponsorship, and drove implementation, resulting in sustained, highly-recognized improvement. </td>
			                </tr>
							<tr>
			                  <td>&bull; Streamlined IT processes at billion-dollar network equipment company to deliver same-or-better quality at significantly reduced cost and time.</td>
			                </tr>
							<tr>
			                  <td>&bull; Assessed IT organization, systems, skills, and processes and provided recommendations for improvement at global life sciences firm.</td>
			                </tr>
			                <tr>
			                  <td>&bull; Technology assessment for possible merger of two $ Billion+ supply chain companies, including system architecture, scalability, IT strategic alignment. </td>
			                </tr>
		                <tr>
		                  <td>&bull; Defined IT operational processes for new SaaS environments to align their traditional highly-controlled IT environments and practices with needs for fast-paced SaaS delivery capabilities at global network equipment company.</td>
		                </tr>
			              </tbody>
			            </table>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Data, Analysis and Other</h3>
            </div>
            <div class="panel-body">
			  <table class="table table-striped">
			              <tbody>              
			                <tr>
			                  <td>&bull; Unstructured Data Analysis for an early-stage SaaS company. Built Clarabridge models to analyze unstructured user review data for technology products to identify dimensions of interest to users, strengths and weaknesses of competing products, marturity of the product landscape, differences in typical usage among competing products, etc.</td>
			                </tr>
			                <tr>
			                  <td>&bull; Framework and data architecture for capturing unstructured data such as customer feedback and field sales input to themes, identify unmet needs, ideate solutions and business opportunities, value the opportunities, and define product plans. Framework was essentially a means to synthesize and value opportunities out of large amounts of raw data. </td>
			                </tr>
							<tr>
								<td>&bull; Other work has included developing and delivering on-site training on business management of IT to help organizations improve business/IT alignment, collaboration, and results throughout IT processes: strategy, planning, funding, capability implementation, operations, and maintenance.
			              </tbody>
			            </table>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Small Business, Innovation and Entrepreneurship</h3>
            </div>
            <div class="panel-body">
			  <table class="table table-striped">
			              <tbody>              
			                <tr>
			                  <td>&bull; Interim COO role for early stage Web 2.0/SAAS company, helping company transition from technology-only to solutions, customers, and revenue, including landing big engagements, professionalizing the company, and identifing compelling solutions and usage.</td>
			                </tr>
			                <tr>
			                  <td>&bull; Assisted program owner of a team at a $30+ billion semiconductor company on a CEO-sponsored strategic program to shift the company from technology-driven to end-user solutions-oriented. Helped team define framework and data architecture to capture wide range of unstructured data about customer and market needs, identify themes, colalesce around opportunities and solutions, value the opportunities, and define product plans from them. Developed framework for managing the &quot;fuzzy front end&quot; of product development to syntesize - and value - opportunities out of large amounts of raw data. </td>
			                </tr>
			                <tr>
			                  <td>&bull; Requirements definition, system selection, and validation for a small non-profit implementing a mentoring management system. (We have lower price points for validly-existing 501(c)3 non-profits in good standing.) </td>
			                </tr>
			              </tbody>
			            </table>
            </div>
          </div>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Life Sciences IT</h3>
            </div>
            <div class="panel-body">
				<table class="table table-striped">
              <tbody>              
                <tr>
                  <td>&bull; LIMS implementation for a pre-commercial Biotech company ramping up for commercial production for a vaccine pending FDA approval.</td>
                </tr>
                <tr>
                  <td>&bull; Computer System Validation requirements definition and documentation for a large ERP implementation at a $5 billion biotech.</td>
                </tr>
                <tr>
                  <td>&bull; Computer System Validation PM for global biotech company: validation approach, plan, requirements development, OQ and PQ approach.</td>
                </tr>
				<tr> <td>&bull; IT Operational Assessment for a multi-billion dollar global biotech/pharma: organization, systems, skill-sets, processes, recommendations and proposed action plan.</td> </tr>
				<tr> <td>&bull; IT architecture definition, system integration, 3rd party logistics integration for newly divested life sciences spin-off transitioning to own systems architecture.</td> </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>
