

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Experienced small business consulting <span class="text-muted">because we run small businesses ourselves</span></h2>
          <p class="lead">Small businesses are different. Self-starter personalities are required. Roles are often combined. You can't just know about sales, or finance, or IT. We have experience in just about every small business function: financial/business modeling; product strategy; sales; solution definition; software development; web site creation; branding; marketing; business development; user-centered design; operations; and many more.  </p>
        </div>
        <div class="col-md-5">
           <%= image_tag("smallbiz1.png" ,  :class=>'featurette-image img-responsive center-block') %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Getting off the ground or growing <span class="text-muted"> - we'll help</span></h2>
          <p class="lead">We have helped very early stage companies develop a professional presence, to look like a &quot;real&quot; company, start meeting potential customers, and make sales. Sometimes we help a small company build the business into something a little bigger, or define new strategies, product plans, or solutions. Sometimes we help companies without IT staff implement technology, from requirements to selection to go-live. We can offer custom rates for small-businesses and non-profits.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
           <%= image_tag("smallbiz2.png" ,  :class=>'featurette-image img-responsive center-block') %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Business Models matter <span class="text-muted">- finances matter</span></h2>
          <p class="lead">Sometimes the hardest thing about running a small business is figuring out the best business model. We've been there. Which possible solution do you try to sell first? Which market will be easier to initially reach? Which segment might provide more revenue dollars per sales opportunity? How do the sales lead times compare? When do you pivot and try something else? You don't have forever to find success. </p>
        </div>
        <div class="col-md-5">
          <%= image_tag("smallbiz3.png" ,  :class=>'featurette-image img-responsive center-block') %>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->



    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
				















