 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 100%; height: 250px;">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
			 <%= image_tag("mgmtconsbar.png" , :class=>'first-slide') %>
          <div class="container">
            <div class="carousel-caption2025">
              <h1>Management Consulting</h1>
			  <section class="hidden-sm">
				  <p>We manage executive-facing programs and projects, streamline operations, drive turnaround situations for projects in trouble or thorny systematic issues, facilitate strategy and planning, assess goals against policies/incentives/results,... We work with mostly High Tech companies, from startups to global multi-billion dollar businesses.
				  </section>
				  
				<p>  <%= link_to "Learn More", mgmtcons_path, :role=>"button", :class => "btn btn-lg btn-primary" %> </p>
				  
             
            </div>
          </div>
        </div>
        <div class="item">
         
		  <%= image_tag("smallbizbar.png" , :class=>'second-slide') %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Small Business</h1>
			  <section class="hidden-sm">
              <p>We have helped small companies get off the ground, land big customers, select and implement systems, define products, improve operations, develop materials for critical presentations, and create a professional brand and web presence. We can also help you bootstrap operations and financial processes, presentations, graphics, and video.</p>
              <p><a class="btn btn-lg btn-primary" href="smallbiz" role="button">Learn more</a></p>
		  </section>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag("pmbar.png" , :class=>'third-slide') %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Program Management</h1>
			  <section class="hidden-sm">
              <p>We specialize in larger-scale programs, executive-led programs, implementation of new programs, and turnaround situations for programs in trouble. We can also lead smaller scale programs and iterative improvements, and can institute a formal program management office. We lead both technical and non-technical projects equally effectively. </p>
		 	 </section>
              <p><a class="btn btn-lg btn-primary" href="pm" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
	
	 <hr class="carousel_divider">
	